@media only screen and (max-width: 600px) {
  .about {
    gap: 32px;
  }
}

@media only screen and (min-width: 600px) {
  .about {
    row-gap: 120px;
  }
}

.about :global(.textart) {
  margin: 0 auto;
  font-size: 9px;
}

@media only screen and (min-width: 600px) {
  .about :global(.textart) {
    font-size: 12px;
  }

  .about :global(.textart) {
    grid-column-start: 7;
    grid-column-end: -2;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
  }

  .about :global(.textart):first-of-type {
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .about :global(.textart):nth-of-type(2) {
    grid-row-start: 3;
    grid-row-end: 5;
    align-items: start;
  }

  .about :global(.textart):last-of-type {
    grid-row-start: 5;
    grid-row-end: 7;
    align-items: end;
  }
}

.section {
  margin-top: 16px;
}

@media only screen and (min-width: 600px) {
  .section {
    grid-column-start: 2;
    grid-column-end: 6;
  }
}