.homepage {
  margin: 32px 16px;
}

@media only screen and (min-width: 600px) {
  .homepage {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 7fr 1fr;
    gap: 20px;
    max-width: 1180px;
    margin: 40px 0;
  }
}


.avatar img {
  width: 180px;
  margin: 0 auto 48px auto;
  display: block;

}

@media only screen and (min-width: 600px) {
  .avatar {
    grid-column-start: 2;
    margin: 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

@media only screen and (min-width: 600px) {
  .content {
    gap: 80px;
    grid-column-start: 4;
  }
}

.intro {
  font-size: 40px;
  font-family: "Quantico", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

.footer {
  margin-top: 60px;
}

@media only screen and (min-width: 600px) {
  .footer {
    margin-top: 120px;
  }
}