.homepage {
  margin: 16px;
}

@media only screen and (min-width: 600px) {
  .homepage {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 7fr 1fr;
    gap: 10px;
    margin: 40px auto;
    max-width: 1180px;
  }
}


.avatar img {
  width: 180px;
  margin: 0 auto;
  display: block;
}

@media only screen and (min-width: 600px) {
  .avatar {
    grid-column-start: 2;
    margin: 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .content {
    margin-top: 48px;
  }
}


@media only screen and (min-width: 600px) {
  .content {
    grid-column-start: 4;
  }
}

.intro {
  font-size: 40px;
  font-family: "Quantico", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

.nav {
  margin-top: 64px;
}

@media only screen and (min-width: 600px) {
  .nav {
    margin-top: 96px;
  }
}

.footer {
  margin-top: 128px;
}

@media only screen and (min-width: 600px) {
  .footer {
    margin-top: 192px;
  }
}

.externalLinks {
  display: flex;
  list-style-type: none;
  padding: 0;
  gap: 32px;
}

.externalLinks li a {
  color: #827F72;
  font-size: 7px;
  transition: 0.2s;
}

.externalLinks li a:hover {
  text-decoration: none;
  color: white;
}

.copyright {
  color: #827F72;
}