.externalLinks {
    list-style-type: none;
    gap: 32px;
}

.externalLinks.lg {
    margin: 96px 0 0 0;
    padding: 0;
}

.externalLinks.md {
    margin: 64px 0 0 0;
    padding: 0;
}

.externalLinks li a {
    color: #827F72;
    transition: 0.2s;
}

.externalLinks.md li a {
    font-size: 7px;
}

.externalLinks.lg li a {
    font-size: 9px;
}

.externalLinks li a:hover {
    text-decoration: none;
    color: white;
}