.heading {
    margin: 0;
    font-family: "Quantico", sans-serif;
    font-style: normal;
}

.md {
    font-size: 20px;
    font-weight: 700;
}

.lg {
    font-size: 32px;
    font-weight: 400;
}

.xl {
    font-size: 40px;
    font-weight: 400;
}

.lowercase {
    text-transform: lowercase;
}