.linkList {
    list-style-type: none;

    font-family: "Orbit", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: lowercase;

    font-size: 20px;

    margin: 0;
    padding: 0;
}

.arrow {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-x: hidden;
}

.simple {
    display: flex;
    gap: 40px;
}

.link p {
    font-size: 1rem;
    margin-top: 8px;
    text-transform: none;
}

.arrow .link a span {
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: 0.3s;
    text-decoration-thickness: 3px;
}

.arrow .link a:hover span {
    text-decoration-color: white;
}

.arrow .link:before {
    float: left;
    width: 0;
    white-space: nowrap;
    content: "------------------------------------"
        "------------------------------------"
        "------------------------------------";
    color: #827F72;

}

.arrow .link a {
    width: 100%;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    text-decoration: none;
}

.arrow .link a::after {
    content: "\00a0>";
    background-color: black;
}

.arrow .link a span {
    background-color: black;
    opacity: 1;
    padding-right: 1rem;
}