.header {
  display: flex;
  justify-content: space-between;
}

.pageTitle {
  margin: 0;
  font-size: 32px;
  font-family: "Quantico", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: lowercase;
}

.hidden {
  visibility: hidden;
}

.topNav {
  align-content: center;
}

.overlay.hide {
  display: none;
}

.closeMenu {
  width: 25px;
  align-self: self-end;
}

.footer {
  margin-top: 48px;
}

@media only screen and (min-width: 600px) {
  .layout {
    max-width: 1180px;
    margin: 0 auto;
    padding: 16px 32px;
  }

  .topNav {
    display: none;
  }

  .topNavLinks {
    text-transform: lowercase;
    align-content: center;
  }

  .topNavLinks nav {
    align-content: center;
  }

  .topNavLinks ul {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
  }

  .content {
    margin-top: 48px;
  }
}

@media only screen and (max-width: 600px) {
  .layout {
    padding: 16px;
  }

  .topNavLinks {
    display: none;
  }

  .content {
    margin-top: 16px;
  }
}