@media only screen and (max-width: 600px) {
  .layout {
    display: flex;
    flex-direction: column;
  }

}

@media only screen and (min-width: 600px) {
  .layout {
    max-width: 1180px;
    margin: 0 auto;
  }
}

.mainContent {
  padding: 16px;
}

@media only screen and (min-width: 600px) {
  .mainContent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
    padding: 16px 0;

  }
}

.footer {
  margin-top: 32px;
  margin-left: 16px;
  margin-bottom: 16px;
  margin-right: 16px;
}

.footer.grid {
  margin-left: 0;
  margin-right: 0;
}